html, body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    color: rgba(51, 51, 51, 1);
    overflow-x: hidden;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: calc(1rem + 1vw) !important;
}

h2 {
    font-size: calc(1rem + 0.21vw) !important;
}

/* Header */

header {
    width: 100%;
    height: 95px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
}

#logo-header {
    width: auto;
    height: auto;
    padding-left: 5.2%;
}

#logo-header:hover {
    cursor: pointer;
}

#hamburger-header {
    width: auto;
    height: auto;
    padding-right: 3.5%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-line {
    height: 2.8px;
    border-radius: 7px;
    margin-bottom: 4.2px;
    background-color: rgba(0,0,0,1);
}

.line01 {
    width: 35px;
}

.line02 {
    width: 26.6px;
}

.line03 {
    width: 21px;
    opacity: 1;
    transition: opacity 0.75s linear;
    transition-delay: 0.55s
}

.line03-modified {
    opacity: 0;
    transition: opacity 0.25s linear; 
}

.line02-modified {
    animation: line02Animation 1s forwards linear;
}

@keyframes line02Animation {
    0% {
        width: 26.6px;
        transform: rotate(0deg);
    }

    100% {
        width: 35px;
        transform: rotate(45deg) translate3D(-5px, -5px, 0);
    }
}

.line02-original {
    animation: line02AnimationBack 1s backwards linear;
}

@keyframes line02AnimationBack {
    0% {
        width: 35px;
        transform: rotate(45deg) translate3D(-5px, -5px, 0);
    }

    100% {
        width: 26.6px;
        transform: rotate(0deg);
    }
}

.line01-modified {
    animation: line01Animation 1s forwards linear;
}

@keyframes line01Animation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.line01-original {
    animation: line01AnimationBack 1s forwards linear;
}

@keyframes line01AnimationBack {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0);
    }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Banner */

#banner {
    width: 100%;
    min-height: 76.24vw;
}

#sky, #back-desert, #front-desert,
#morocco-banner, #scroll-effect, #dream {
    width: 100%;
    min-height: 76.24vw;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#sky {
    background-image: url('../Images/background-desert3.png');
    z-index: 1;
}

#back-desert {
    background-image: url('../Images/background-desert2.png');
    z-index: 2;
}

#front-desert {
    background-image: url('../Images/background-desert.png');
    z-index: 4;
}

#morocco-banner {
    background-image: url('../Images/letters-desert.svg');
    z-index: 3;
    opacity: 0;
}

#scroll-effect {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 99;
    opacity: 0;
}

#scroll-box, #scroll-circle {
    width: auto;
    height: auto;
    padding-top: 43.125%;
    z-index: 99;
}

#scroll-circle {
    position: absolute;
    top: 3px;
}

#dream {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2.43%;
    z-index: 5;
}

.mandala {
    width: 80px;
    height: 80px;
}

#dream-country {
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.7%;

}

#dream-country h2 {
    font-weight: 700;
    line-height: 26.66px;
}

#dream-country h1 {
    font-weight: 400;
    line-height: 46.66px;
}

.skyAnimation, .frontDesertAnimation,
.moroccoLettersAnimation, .scrollBoxAppearence {
    animation-duration: 1.75s;
    animation-fill-mode: forwards;
}

.skyAnimation {
    animation-name: skyAnimation;
}

.frontDesertAnimation {
    animation-name: frontDesertAnimation;
}

.moroccoLettersAnimation {
    animation-name: moroccoAnimation;
}

.scrollBoxAppearence {
    animation-name: scrollBoxAppearence;
}

.scrollCircleAnimation {
    animation-name: scrollCircleAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-delay: 1.5s;
}

@keyframes skyAnimation {
    0% {
        transform: translateY(-150px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes frontDesertAnimation {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moroccoAnimation {
    0% {
        opacity: 0;
        transform: translateY(135px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scrollBoxAppearence {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollCircleAnimation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(18px);
    }
}

/* Banner Slider */

#country-slider-div {
    width: 100%;
    min-height: 66.16vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid rgba(197, 159, 77);
}

#country-slider {
    width: 100%;
    min-height: 45.53vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
}

.sliderImage {
    width: 20.5%;
    max-width: 400px;
    height: auto;
    background: rgba(196, 196, 196, 1);
    border-radius: 20px;
    box-shadow: 0px 4px 45px rgb(187, 153, 130);
}

.mandala-left, .left, .center-left,
.center, .center-right, .right, .mandala-right {
    position: absolute;
}

.mandala-left, .mandala-right {
    width: 14.4%;
    z-index: 1;
    background: none;
    box-shadow: none;
}

.mandala-left {
    left: 15%;
}

.left {
    left: 15%;
    z-index: 2;
}

.center-left {
    left: 15%;
    z-index: 3;
}

.center {
    transform: scale(1.26);
    z-index: 4;
}

.center-right {
    right: 15%;
    z-index: 3;
}

.right {
    right: 15%;
    z-index: 2;
}

.mandala-right {
    right: 15%;
}

#slider-arrows {
    width: 100%;
    height: 107px;
    position: absolute;
    /* top: 798.19px; */
    top: 61%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-arrow {
    width: auto;
    height: 34px;
    z-index: 99;
}

.left-arrow {
    padding: 0 32.71% 0 15.35%;
}

.right-arrow {
    padding: 0 15.35% 0 32.71%;
}

#slider-text {
    width: 100%;
    height: 20.62vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 74px;
    box-sizing: border-box;
    background-image: url('../Images/imagen-trama-inf.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#slider-text p {
    width: 28.125%;
    height: auto;
    padding: 0 1.82%;
    font-size: calc(1rem + 0.21vw);
    font-weight: 400;
}

.moveFromCenterForward {
    animation-name: moveFromCenterForward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.moveFromLeftForward {
    animation-name: moveFromLeftForward;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes moveFromCenterForward {
    0% {
        left: 39.8%;
        transform: scale(1.26);
    }

    100% {
        left: 64.55%;
        transform: scale(1);
    }
}

@keyframes moveFromLeftForward {
    0% {
        left: 15%;
        transform: scale(1);
    }

    100% {
        left: 39.8%;
        transform: scale(1.26);
    }
}

.moveFromCenterBackwards {
    animation-name: moveFromCenterBackwards;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.moveFromRightBackwards {
    animation-name: moveFromRightBackwards;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes moveFromCenterBackwards {
    0% {
        left: 39.8%;
        transform: scale(1.26);
    }

    100% {
        left: 15%;
        transform: scale(1);
    }
}

@keyframes moveFromRightBackwards {
    0% {
        left: 64.55%;
        transform: scale(1);
    }

    100% {
        left: 39.8%;
        transform: scale(1.26);
    }
}

@media only screen and (min-width: 2000px) {
    .moveFromCenterForward {
        animation-name: moveFromCenterForwardLarge;
    }

    .moveFromLeftForward {
        animation-name: moveFromLeftForwardLarge;
    }

    .moveFromCenterBackwards {
        animation-name: moveFromCenterBackwardsLarge;
    }

    .moveFromRightBackwards {
        animation-name: moveFromRightBackwardsLarge;
    }

    @keyframes moveFromCenterForwardLarge {
        0% {
            left: 42.3%;
            transform: scale(1.26);
        }
    
        100% {
            left: 69.35%;
            transform: scale(1);
        }
    }
    
    @keyframes moveFromLeftForwardLarge {
        0% {
            left: 15%;
            transform: scale(1);
        }
    
        100% {
            left: 42.3%;
            transform: scale(1.26);
        }
    }

    @keyframes moveFromCenterBackwardsLarge {
        0% {
            left: 42.3%;
            transform: scale(1.26);
        }
    
        100% {
            left: 15%;
            transform: scale(1);
        }
    }
    
    @keyframes moveFromRightBackwardsLarge {
        0% {
            left: 69.35%;
            transform: scale(1);
        }
    
        100% {
            left: 42.3%;
            transform: scale(1.26);
        }
    }
}

/* Culture div */

#culture-lose {
    width: 100%;
    min-height: 67.42vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url('../Images/platos-marruecos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#culture-tram {
    width: 100%;
    height: 21.77vw;
    background-image: url('../Images/imagen-trama-sup_platos.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#culture-text {
    min-width: 29.95%;
    max-width: 560px;
    min-height: 36.5vw;
    margin-left: 15%;
    position: relative;
    /* top: -21vh; */
    top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#culture-heading {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#culture-heading img {
    width: 77px;
    height: 77px;
}

#culture-mandala {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#culture-heading h1 {
    padding-left: 26px;
    font-weight: 400;
    line-height: 46.66px;
}

#culture-heading h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26.66px;
    margin-top: 3px;
    margin-bottom: 60px;
    padding-left: 103px;
    box-sizing: border-box;
}

#culture-text p {
    font-size: calc(1rem + 0.21vw);
    line-height: 24px;
    margin-bottom: 60px;
}

#look-more {
    width: 345px;
    height: 72px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid rgba(201, 170, 77, 1);
}

#look-more h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26.66px;
    color: rgba(201, 170, 77, 1);
}

#look-more:hover {
    background-color: rgba(201, 170, 77, 1);
    transition: background-color 0.35s ease-in;
}

#look-more:hover h4 {
    color: rgba(255, 255, 255, 1);
    transition: color 0.35s ease-in;
}

/* Dream Cities */

#dream-cities {
    width: 100%;
    min-height: 52.146vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgba(197, 159, 77);
}

#dream-title {
    width: 100%;
    height: auto;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#dream-mandala {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#dream-title img {
    width: 77px;
    height: 77px;
}

#dream-title h1 {
    padding-left: 19px;
    font-weight: 400;
    line-height: 46.66px;
}

#dream-title h2 {
    font-weight: 700;
    margin: 0 0 20px 96px;
}

#dream-slide {
    width: 100%;
    height: 48.93vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    z-index: 99;
    background-image: url("../Images/imagen-trama-inf.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

#dream-images-slide {
    width: 100%;
    height: 33vw;
    margin-top: 0;
    padding-top: 43px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    overflow-x: scroll;
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
    user-select: none;
    scroll-behavior: smooth;
}

.dream-image-div {
    width: 20.5vw;
    height: 27.9vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    margin-left: 42.47px;
    z-index: 99;
}

.dream-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(196, 196, 196);
    box-shadow: 0px 4px 45px rgba(187, 153, 130, 1);
    z-index: 98;
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dream-image1 {
    margin-left: 15%;
}

.image1 {
    background-image: url('../Images/dreamSlider/dream1.png');
}

.image2 {
    background-image: url('../Images/dreamSlider/dream2.png');
}

.image3 {
    background-image: url('../Images/dreamSlider/dream3.png');
}

.image4 {
    background-image: url('../Images/dreamSlider/dream4.png');
}

.image5 {
    background-image: url('../Images/dreamSlider/dream5.png');
    margin-right: 15%;
}

#dream-slider-gaps {
    width: 20.5vw;
    height: 27.9vw;
    margin-right: 15.5%;
}

#dream-slide-bar {
    width: 100%;
    height: 2.1vw;
    margin-left: -15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#progress-bar-outer {
    width: 23.9vw;
    height: 0.35vw;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
}

#progress-bar-inner {
    width: 15.4vw;
    height: 0.35vw;
    border-radius: 6px;
    background-color: rgba(201, 170, 77, 1);
}

.city-card {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 45px rgba(187, 153, 130, 1);
    z-index: 99;
}

.city-card:hover {
    cursor: pointer;
}

.city-name {
    width: auto;
    height: auto;
    padding-left: 34px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.city-arrow {
    width: 71px;
    height: auto;
    margin-top: 4px;
    margin-left: 19px;
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes arrowAnimation {
    0% {
        margin-left: 19px;
    }

    100% {
        margin-left: 49px;
    }
}

/* Country map div */
#country-div {
    width: 100%;
    min-height: 97.24vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid rgba(187, 153, 130, 1);
}

#country-div::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../Images/imagen-trama-sup.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 10;
}

#country-title {
    width: 100%;
    height: auto;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15.9375vw;
}

#country-mandala {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#country-mandala img {
    width: 77px;
    height: 77px;
}

#country-mandala h1 {
    padding-left: 18px;
    font-weight: 400;
    line-height: 46.66px;
}

#country-title h2 {
    font-weight: 700;
    padding-left: 97px;
    margin-top: 3px;
}

#map-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#map {
    min-width: 500px;
    width: 39vw;
    height: 39.375vw;
    max-height: 850px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.map {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 990;
    background-repeat: no-repeat;
    background-size: contain;
}

.map01 {
    width: 14.69vw;
    height: 6vw;
    top: 5.26vw;
    left: 13.80vw;
    background-image: url('../Images/countryMap/country01.svg');
}

.map02 {
    width: 9.43vw;
    height: 6vw;
    top: 8.07vw;
    left: 7.34vw;
    background-image: url('../Images/countryMap/country02.svg');
}

.map03 {
    width: 6.15vw;
    height: 3vw;
    top: 2.40vw;
    left: 20.68vw;
    background-image: url('../Images/countryMap/country03.svg');
}

.map04 {
    width: 3.28vw;
    height: 3vw;
    top: 1.72vw;
    left: 21.46vw;
    background-image: url('../Images/countryMap/country04.svg');
}

.map05 {
    width: 6.51vw;
    height: 4.5vw;
    top: -0.31vw;
    left: 32.71vw;
    background-image: url('../Images/countryMap/country05.svg');
}

.map06 {
    width: 11.98vw;
    height: 4vw;
    top: 3.54vw;
    left: 19.38vw;
    background-image: url('../Images/countryMap/country06.svg');
}

.map07 {
    width: 7.14vw;
    height: 5vw;
    top: 0.83vw;
    left: 27.81vw;
    background-image: url('../Images/countryMap/country07.svg');
}

.map08 {
    width: 15vw;
    height: 7vw;
    top: 13.18vw;
    left: 0vw;
    background-image: url('../Images/countryMap/country08.svg');
}

.map09 {
    width: 4.9vw;
    height: 2vw;
    top: -0.16vw;
    left: 29.69vw;
    background-image: url('../Images/countryMap/country09.svg');
}

.map10 {
    width: 3.7vw;
    height: 2vw;
    top: 2.34vw;
    left: 26.20vw;
    background-image: url('../Images/countryMap/country10.svg');
}

.map11 {
    width: 3.59vw;
    height: 1.4vw;
    top: -0.83vw;
    left: 27.97vw;
    background-image: url('../Images/countryMap/country11.svg');
}

.map12 {
    width: 4.58vw;
    height: 2vw;
    top: 1.25vw;
    left: 24.32vw;
    background-image: url('../Images/countryMap/country12.svg');
}

.map13 {
    width: 5.36vw;
    height: 2vw;
    top: 0.73vw;
    left: 29.64vw;
    background-image: url('../Images/countryMap/country13.svg');
}

.map14 {
    width: 3.13vw;
    height: 1.2vw;
    top: 0.05vw;
    left: 27.14vw;
    background-image: url('../Images/countryMap/country14.svg');
}

.map15 {
    width: 1.25vw;
    height: 0.75vw;
    top: 1.4vw;
    left: 24.84vw;
    background-image: url('../Images/countryMap/country15.svg');
}

.map16 {
    width: 2.76vw;
    height: 1.5vw;
    top: 0.9vw;
    left: 26.5vw;
    background-image: url('../Images/countryMap/country16.svg');
}

.map17 {
    width: 39.06vw;
    height: 20vw;
    top: 0vw;
    left: 0vw;
    background-image: url('../Images/countryMap/countryBackground.svg');
    z-index: 1;
}

.hoveringMap {
    filter: brightness(0) saturate(100%) invert(74%) sepia(41%) saturate(542%) hue-rotate(6deg) brightness(85%) contrast(91%);
}

.clickedMap {
    filter: brightness(0) saturate(100%) invert(74%) sepia(41%) saturate(542%) hue-rotate(6deg) brightness(85%) contrast(91%);
}

#map h3 {
    font-weight: 700;
    font-size: calc(1rem + 1.51vw);
    line-height: 60px;
    font-style: normal;
    margin-bottom: 3px;
}

#map h4 {
    font-weight: 400;
    font-size: calc(1rem + 0.73vw);
    line-height: 39.99px;
    text-align: end;
    margin-bottom: 2vw;
}

#map p {
    width: 28.125vw;
    font-weight: 400;
    font-size: calc(1rem + 0.21vw);
    line-height: 24px;
    text-align: end;
}

#country-image {
    width: 24.58vw;
    max-width: 800px;
    height: 39.375vw;
    max-height: 1281.44px;
    margin-top: -10.42vw;
    margin-left: 5.5vw;
    border-radius: 20px;
    filter: drop-shadow(0px 7px 35px rgba(187, 153, 130, 1));
}

.mapImageAnimation {
    animation-name: mapImageAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes mapImageAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#map-background {
    width: 100%;
    height: 33.07vw;
    background-image: url('../Images/countryMap/countryDivImage.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */

footer {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(246,194,164,1) 0%, rgba(255,255,255,1) 70%);
}

footer::after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../Images/imagen-trama-foot.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

#logo-footer {
    width: 180px;
    height: auto;
    margin-top: 135px;
    z-index: 999;
}

#logo-footer:hover {
    cursor: pointer;
}

/* Menu */

#menu-container {
    width: 100%;
    height: calc(100vh - 108px);
    position: absolute;
    top: 108px;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-areas: 'img01 list img03'
                         'img01 img02 img03'
                         'background01 img02 background02';
    grid-template-rows: 30% 45.8% 24.1%;
    grid-template-columns: 33.6vw 32.8vw 33.6vw;       
    z-index: 999;
    visibility: hidden;             
}

.menu-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
}

.left-image {
    grid-area: img01;
    background-image: url('../Images/menuImages/foto-menu01.png');
    background-position: right;
}

.middle-image {
    grid-area: img02;
    background-image: url('../Images/menuImages/foto-menu02.png');
}

.right-image {
    grid-area: img03;
    background-image: url('../Images/menuImages/foto-menu03.png');
    background-position: left;
}

.left-background {
    grid-area: background01;
    background-image: url('../Images/menuImages/trama-left.svg');
    background-position: right;
}

.right-background {
    grid-area: background02;
    background-image: url('../Images/menuImages/trama-right.svg');
    background-position: left;
}

#list-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.list-ul {
    width: 100%;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.list-items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-items-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.list-items img {
    width: 48px;
    height: 48px;
    opacity: 0;
}

.list-items p {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    padding: 15.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-items:hover img {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.list-items-link p::after {
    content: '';
    position: relative;
    top: 3px;
    width: 100%;
    height: 2px;
    background-color: rgba(51, 51, 51, 1);
    transform: scale(0);
}

.list-items-link p:hover::after {
    transform: scale(1);
    transition: transform 0.5s linear;
}

.menu-appearing {
    animation: fadeInMenu 0.8s forwards ease-in;
}

.fade-in-images {
    animation: fadeInImages 1s forwards linear;
}

@keyframes fadeInMenu {
    0% {
        visibility: hidden;
        margin-left: 50vw;
        opacity: 0;
    }

    100% {
        visibility: visible;
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes fadeInImages {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-disappearing {
    animation: fadeOutMenu 0.8s forwards ease-out;
}

@keyframes fadeOutMenu {
    0% {
        visibility: visible;
        margin-left: 0;
        opacity: 1;
    }

    100% {
        opacity: 0;
        margin-left: 50vw;
    }
}

.page-appearing {
    animation: fadeInPage 0.75s forwards ease-in;
}

@keyframes fadeInPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-disappearing {
    animation: fadeOutPage 0.75s forwards ease-out;
}

@keyframes fadeOutPage {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}